@model dnm.Models.LoginModels

@{
    ViewBag.Title = "Giris";
}

<h2>Giris</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LoginModels</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



@*@model dnm.Models.LoginModels


@{
    ViewBag.Title = "Giris";
}

<h2>Giris</h2>

<fieldset>
    <legend>minamejef</legend>
    <form method="post" action="Giris">
        kullanıcı adın: <br />
        <input type="text" name="UserName" /><br />
        adın:<br />
        <input type="text" name="Name" /><br />
        şifren:<br />
        <input type="password" name="Pword" /><br /><br />
        @ViewBag.Message
        <input type="submit" name="gönder" value="göndert" />
    </form>
</fieldset>


@*{
    if (IsPost)
    {


        string userName = Request.Form["UserName"];
        Model.UserName = userName;
        string name = Request.Form["Name"];
        Model.Name = name;
        string pword = Request.Form["Pword"];
        Model.Password = pword;


        string isimq = Request.Form["isim"];
        string soyad = Request.Form["soyad"];
        string kek = isimq + soyad;

    <text>
        You entered: <br />
        Adın: @isimq<br />
        Soyadın: @soyad <br />
        adın soyadın koçum: @kek <br />
    </text>
        }
    }*@