@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>*@
@model IEnumerable<dnm.Models.Thread>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>      @*anasayfa*@
    @*@Styles.Render("~Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="css1.css" rel="stylesheet" type="text/css">*@
    <link href="@Url.Content("~/Content/OurStyleSheet.css")" rel="stylesheet" type="text/css" />
</head>


<body>
    <div class="ustdiv">
        <div class="temizle"></div>
        <div class="ln">
            <span class="beyazyazi">@Html.ActionLink("siyah sözlük","index","home")</span>
            @*<a href="mainpage.html" class="logo"><span class="beyazyazi">siyah sözlük</span><!--<img class="logo"></img>--></a>*@
            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search">ara</i></button>
                </form>
            </div>
            <span class="gizlenr sagla">
                @Html.ActionLink("giris", "giris", "accountv1")
                @*<a href="giris.html">giris</a>*@
                <a href="kayit.html">kayıt ol</a>
            </span>
        </div>
        <div class="temizle"></div>
        <div class="ln ln2">
            <a href="mainpage.html">gündem</a>

            <span class="gizlenr">
                <a href="mainpage.html">#spor</a>
                <a href="mainpage.html">#ilişkiler</a>
                <a href="mainpage.html">#siyaset</a>
                <a href="mainpage.html">#seyahat</a>
            </span>
            <div class="dropdown">
                <button class="dropbtn">...</button>
                <div class="dropdown-content">
                    <span class="gizlen">
                        <a href="#">gündem</a>
                        <a href="#">#spor</a>
                        <a href="#">#ilişkiler</a>
                        <a href="#">#siyaset</a>
                        <a href="#">#seyahat</a>
                    </span>
                    <a href="#">#araba</a>
                    <a href="#">#teknoloji</a>
                </div>
            </div>
            <span class="gizlen">
                <a href="giris.html">giris</a>
                <a href="kayit.html">kayıt ol</a>
                @Html.Partial("_LoginPartial")
            </span>
        </div>
    </div>

    <div class="govdediv">
        <div class="govdeicdiv">
            <div class="govdesoldiv" id="kek">

                <h3>kündem</h3>
                <p> paragraf</p>
                    @*<h2>
                        gündem
                    </h2>
                    @foreach (var item in Model)
                    {
                        <table>
                        @Html.Partial("_PartialThread")
                        </table>
                    }*@
            </div>
            <div class="govdesagdiv">
                <div class="govdeustdiv">
                    @RenderBody()
                </div>

                <footer class="aln">            
                    @Html.ActionLink("İletişim","Contact","Home")        
                    @Html.ActionLink("Hakkımızda", "About","Home")

                    @*<a href=" ">İLETİŞİM</a>*@
                    @*<a href="">HAKKIMIZDA</a>*@
                    @*<a href="">REKLAM</a>*@
                    @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                </footer>

            </div>
        </div>
    </div>






    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



























@*<div class="container">
        <div class="index-section">
            <h2>Burası gündem vs.</h2>
            <ul class="ul">
                <li>Başlık1</li>
                <li>Başlık2</li>
                <li>Başlık3</li>
                <li>Başlık4</li>
                <li>Başlık5</li>
                <li>Başlık6</li>
                <li>Başlık7</li>
                <li>Başlık8</li>
                <li>Başlık9</li>
                <li>Başlık10</li>
                <li>Başlık11</li>
                <li>Başlık12</li>
                <li>Başlık13</li>
                <li>Başlık14</li>
                <li>Başlık15</li>

            </ul>
        </div>
        <div class="main">
        </div>
    </div>*@

@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
